define(<%= name ? JSON.stringify(name) + ',' : '' %><%= deps ? JSON.stringify(deps) + ',' : '' %>function(<%= (!deps ? ['require', 'exports', 'module'] : params || '').toString() %>){
<% if(exports && !void){ %>
<%= contents %>
return <%= exports %>;
<% } else if(!void && !exports) { %>
return <%= contents %>;
<% } else { %>
  <%= contents %>
<% }%>
});
