define(<%= name ? JSON.stringify(name) + ',' : '' %><%= deps ? JSON.stringify(deps) + ',' : '' %>function(<%= (!deps ? ['require', 'exports', 'module'] : params || '').toString() %>){
<% if(exports && !unreturn){ %>
<%= contents %>
return <%= exports %>;
<% } else if(!unreturn && exports) { %>
return <%= contents %>;
<% } else if(unreturn) { %>
<%= contents %>
<% }%>
});
